[Unit]
Description=Hyperledger Fabric Orderer Node
Documentation=https://hyperledger-fabric.readthedocs.io/
Wants=network-online.target
After=network-online.target
[Service]
Type=simple
Restart=on-failure
Environment=FABRIC_LOGGING_SPEC=INFO
Environment=ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
Environment=ORDERER_GENERAL_LISTENPORT=7050
Environment=ORDERER_GENERAL_LOCALMSPID=OrdererMSP
Environment=ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/fabric/orderer/users/orderer/msp
Environment=ORDERER_GENERAL_TLS_ENABLED=true
Environment=ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/fabric/orderer/users/orderer/tls/server.key
Environment=ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/fabric/orderer/users/orderer/tls/server.crt
Environment=ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/fabric/orderer/users/orderer/tls/ca.crt]
Environment=ORDERER_GENERAL_CLUSTER_CLIENTCERTIFICATE=/var/hyperledger/fabric/orderer/users/orderer/tls/server.crt
Environment=ORDERER_GENERAL_CLUSTER_CLIENTPRIVATEKEY=/var/hyperledger/fabric/orderer/users/orderer/tls/server.key
Environment=ORDERER_GENERAL_CLUSTER_ROOTCAS=[/var/hyperledger/fabric/orderer/users/orderer/tls/ca.crt]
Environment=ORDERER_GENERAL_BOOTSTRAPMETHOD=none
Environment=ORDERER_CHANNELPARTICIPATION_ENABLED=true
Environment=ORDERER_ADMIN_TLS_ENABLED=true
Environment=ORDERER_ADMIN_TLS_CERTIFICATE=/var/hyperledger/fabric/orderer/users/orderer/tls/server.crt
Environment=ORDERER_ADMIN_TLS_PRIVATEKEY=/var/hyperledger/fabric/orderer/users/orderer/tls/server.key
Environment=ORDERER_ADMIN_TLS_ROOTCAS=[/var/hyperledger/fabric/orderer/users/orderer/tls/ca.crt]
Environment=ORDERER_ADMIN_TLS_CLIENTROOTCAS=[/var/hyperledger/fabric/orderer/users/orderer/tls/ca.crt]
Environment=ORDERER_ADMIN_LISTENADDRESS=0.0.0.0:7051
Environment=ORDERER_OPERATIONS_LISTENADDRESS=orderer.example.com:9444
Environment=ORDERER_METRICS_PROVIDER=prometheus
ExecStart=/usr/local/bin/orderer
[Install]
WantedBy=multi-user.target
