client:
  organization_id: Org1MSP
  certificate: |
    -----BEGIN CERTIFICATE-----
    MIICnjCCAkSgAwIBAgIUCn4N8VcIn79OIIfCKHXxRW6F8M0wCgYIKoZIzj0EAwIw
    cDELMAkGA1UEBhMCVVMxFzAVBgNVBAgTDk5vcnRoIENhcm9saW5hMQ8wDQYDVQQH
    EwZEdXJoYW0xGTAXBgNVBAoTEG9yZzEuZXhhbXBsZS5jb20xHDAaBgNVBAMTE2Nh
    Lm9yZzEuZXhhbXBsZS5jb20wHhcNMjIwMjAyMjMyNDAwWhcNMjMwMjAyMjMyOTAw
    WjBdMQswCQYDVQQGEwJVUzEXMBUGA1UECBMOTm9ydGggQ2Fyb2xpbmExFDASBgNV
    BAoTC0h5cGVybGVkZ2VyMQ8wDQYDVQQLEwZjbGllbnQxDjAMBgNVBAMTBXVzZXIx
    MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAESvzkYVLWUXM3IDd0WV+oXL/CiXMR
    ApFBS/zE6edHwn3JgPRZlYK3cFpUkq8v0EkEULmo7ltu5tLNPuXFoSgPeqOBzjCB
    yzAOBgNVHQ8BAf8EBAMCB4AwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUuUE8GOXl
    hDC09DH60xZzsf12Ou8wHwYDVR0jBBgwFoAUtdn2J4u/aBoYAu1zqjSXzp7unFsw
    EQYDVR0RBAowCIIGSG9tZVBDMFgGCCoDBAUGBwgBBEx7ImF0dHJzIjp7ImhmLkFm
    ZmlsaWF0aW9uIjoiIiwiaGYuRW5yb2xsbWVudElEIjoidXNlcjEiLCJoZi5UeXBl
    IjoiY2xpZW50In19MAoGCCqGSM49BAMCA0gAMEUCIQCzqnOdNFAV6kWV9PC8SRC7
    1r0HUlBkivG+9oaDrs/yUAIgYacOyOPW+7fNFHfqRdvELlbBzzvR5OC6bAL+fHFp
    rTQ=
    -----END CERTIFICATE-----
  private_key: |
    -----BEGIN PRIVATE KEY-----
    MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgkxJKUZLlFc8YuY2j
    i9TgxmbAwXn9W+g3TJ5PbdP+djKhRANCAARK/ORhUtZRczcgN3RZX6hcv8KJcxEC
    kUFL/MTp50fCfcmA9FmVgrdwWlSSry/QSQRQuajuW27m0s0+5cWhKA96
    -----END PRIVATE KEY-----

gateway:
  endpoint: localhost:7051
  server_name: peer0.org2.example.com
  tls_certificate: |
    -----BEGIN CERTIFICATE-----
    MIICJzCCAc2gAwIBAgIUG443I5GPyugztsOJjwO7Eqdl0UgwCgYIKoZIzj0EAwIw
    cDELMAkGA1UEBhMCVVMxFzAVBgNVBAgTDk5vcnRoIENhcm9saW5hMQ8wDQYDVQQH
    EwZEdXJoYW0xGTAXBgNVBAoTEG9yZzEuZXhhbXBsZS5jb20xHDAaBgNVBAMTE2Nh
    Lm9yZzEuZXhhbXBsZS5jb20wHhcNMjIwMjAyMjMyNDAwWhcNMzcwMTI5MjMyNDAw
    WjBwMQswCQYDVQQGEwJVUzEXMBUGA1UECBMOTm9ydGggQ2Fyb2xpbmExDzANBgNV
    BAcTBkR1cmhhbTEZMBcGA1UEChMQb3JnMS5leGFtcGxlLmNvbTEcMBoGA1UEAxMT
    Y2Eub3JnMS5leGFtcGxlLmNvbTBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABMcz
    to6iNLdSBeK7J3vmxFX+AKeZ5ek/3GZhBMBhX2OcFk/1S+9HxAwewv8O2E0lrPZW
    kKCDGOxwt687FkQ4Ho+jRTBDMA4GA1UdDwEB/wQEAwIBBjASBgNVHRMBAf8ECDAG
    AQH/AgEBMB0GA1UdDgQWBBS12fYni79oGhgC7XOqNJfOnu6cWzAKBggqhkjOPQQD
    AgNIADBFAiEAwPgoW8r0pv91a6D4YoNPXWBjXPAb/R4Cb1yY+hvW+tACIC62xu9G
    9Vru75bpaSv7+Bb/9eCqsxKva4DJNCeOaY2P
    -----END CERTIFICATE-----

network:
  name: mychannel
  chaincode: iotservice
